@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500&family=Pacifico&display=swap');

:root{
    --blanco: #FFFFFF;
    --negro: #000000;
    --pri-color: #295d09;
    --sec-color: #aed36c;
    --pri-color_light: #69ab3d;
    --sec-color_light: #e9ebed;
    --sombra: 0px 24px 32px -8px var(--pri-color_light);
}

body {
    min-height: 100vh;
    background-color: var(--sec-color_light);
    font-size: 20px;
    font-family:'Alegreya Sans', sans-serif;
    color:var(--pri-color);
    line-height: 1.4em;
    display: grid;
    align-items: center;
    grid-template:
    "header" 10%
    "main"   auto
    "footer" 5%;
}


/*  HEADER  */
.header{
    grid-area: header;
    display: flex;
}

.logo{
    max-width: 40px;
    margin: 1.5em;
}

.titulo{
    font-family: 'Pacifico', cursive;
    font-size: 2.5em;
    color: var(--pri-color);
    margin: auto;
    transform: translateX(-40px);
}

/*  MAIN  */
.main-container{
    grid-area: main;
}

/*-----------------------------*/
.seccion-inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.input{
    background: linear-gradient(to top, var(--sec-color), transparent);
    width: 22ch;
    font-size: 1.5em;
    line-height: 1.4;
    outline: none;
    text-align: center;
}

.boton{
    max-width: 300px;
    font-weight: 500;
    color: var(--sec-color_light);
    padding: 1.2em;
    border-radius: 35px;
    border: 2px solid var(--pri-color);
    background-color: var(--pri-color);
    box-shadow: var(--sombra);
    cursor: pointer;
}
.btn-iniciar{
    width: 100%;
}
.btn-agregar{
    background-color: var(--sec-color_light);
    color: var(--pri-color);
}
/*------------------------------*/
.seccion-juego{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.imagen{
    width: 300px;
    height: 500px;
    border: 2px solid var(--pri-color);
}
.aciertos{
    width: 500px;
    height: 80px;
    border: 2px solid var(--pri-color);
}
.errores{
    width: 350px;
    height: 70px;
    border: 2px solid var(--pri-color);
}

.boton-container{
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 1em;
}
.btn-nuevojuego{
    width: 100%;
}
.btn-rendirse{
    width: 100%;
    background-color: var(--sec-color_light);
    color: var(--pri-color);
}

/*---------------------------*/
.oculto>*, .oculto>did{
    display: none;
}

/*  FOOTER  */
.footer{
    grid-area: footer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    background-color: var(--pri-color);
    color: var(--blanco);
}